recibos {
	border-spacing: 0 10px;
	display: table;
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
}

recibo {
	background-color: aqua;
	border-spacing: 0 5px;
	display: table-row;
}

numero {
	display: table-cell;
	padding: 5px;
}

fecha, detalle {
	display: table-row;
}

detalle * {
	display: table-cell;
}

descripcion {
	width: 300px;
}

unidades, precio {
	min-width: 100px;
}